* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

input {
  width: 360px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  outline-style: none;
}

input:hover,
input:focus {
  box-shadow: 0px 0px 4px #aaa;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.04em;
  line-height: 1.33;
  color: #2e2f42;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: auto;
  max-width: 148px; 
  height: 40px;
  background: #4e75ff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  margin-top: 16px;
}
button:hover,
button:focus {
  box-shadow: 0px 0px 6px #7d7d7d;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;

  label {
    display: flex;
    flex-direction: column;
    gap: 8px;

  }
}

.task-first {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding: 16px;
  li {
    list-style: none;
  }
  .item {
    background-color: #f6f6fe;
    border-radius: 8px;
    padding: 16px;
    h2 {
      margin: 0 0 16px 0;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 0;
      li {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        padding: 8px 16px;
        width: 360px;
        height: 40px;
        border: 1px solid #808080;
        border-radius: 4px;
      }
    }
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: center;
  .gallery-item {
    flex-basis: calc((100% - 48px) / 3);
    height: 300px;
    list-style: none;
    overflow: hidden;
  }
  .gallery-img {
    width: auto;
    height: 100%;
  }
}

@media screen and (max-width: 959px) {
  .gallery {
    .gallery-item {
      flex-basis: calc((100% - 24px) / 2);
    }
  }
}
@media screen and (max-width: 639px) {
  .gallery {
    display: block;
    .gallery-item {
      margin: 0 auto 24px;
      width: 360px;
    }
  }
}

